{% extends 'base.html.twig' %}

{% block title %}Offre en lecture{% endblock %}

{% block body %}

<style>
    h1{
        text-align: center;
        font-size: 60px;
        margin-bottom: 40px;
    }
</style>

{% if offre %}
        <style>
            h1{
                margin-top: 20px;
            }

            .container-pagination{
                padding:0;
                margin-bottom: 10px;
            }

            article{
                margin-bottom: 60px;
            }

            .content p{
                text-align: justify;
            }

            .progress{
                margin-bottom: 30px;
            }

            li{
                list-style: none;
            }
        </style>

        <div class="container container-pagination">
            <article><h2>{{ offre.title}}</h2>
                <div class="articles">
                    <div class="metadata">Ajoutée le {{ offre.createdAt | date("m/d/y")}} dans la categorie
                        offres d'emploi
                    </div>

                    <div class="content">
                        <img src="https://source.unsplash.com/random/1140x200" alt="image offre">
                        
                        <p>{{ offre.description }}</p>

                        <div class="progress">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo consequuntur ipsam eum, tenetur, culpa delectus odit assumenda possimus odio natus distinctio repellat iste architecto. Quae maiores rerum eligendi! Exercitationem, necessitatibus?
                            Laborum accusantium modi iste? Ex saepe sit doloremque qui autem repellendus, dicta similique unde? Culpa, numquam necessitatibus. Ad consequuntur quos quia harum dolorem in, sunt explicabo ut nemo sint. Distinctio?
                            Optio quas temporibus aliquam voluptates quae iste esse assumenda id quaerat blanditiis laudantium veritatis, similique voluptas ullam nulla accusamus quos. Mollitia asperiores, fugit alias eos rem velit! Exercitationem, eveniet cum!
                            Laboriosam maxime modi blanditiis neque repellat, maiores quas omnis voluptatibus repudiandae incidunt obcaecati accusantium libero nobis velit earum hic doloribus voluptatum molestiae, facere quibusdam, impedit et iste quaerat reiciendis. Temporibus!
                            Cumque fugiat voluptates reprehenderit quam ipsum rem? Cumque fugit modi labore, eum est consequuntur ullam corporis harum doloremque, voluptate officia officiis explicabo fugiat repellendus sed quod accusantium quam velit vel.
                        </p>

                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, suscipit nisi dicta corporis fuga, minus facilis, aliquid ad nobis illum quas id exercitationem adipisci voluptatem quibusdam earum. Nam, quaerat at.
                            Ducimus animi explicabo voluptate consectetur necessitatibus officia eum ratione totam, tempore laboriosam doloribus in soluta, eius maiores iste eligendi a! A quo eos fugit laudantium temporibus cupiditate earum, veritatis assumenda?
                            Fugiat minus veritatis non quae error, modi ratione. Optio quis illo amet enim saepe maiores, perferendis animi corporis non ex architecto alias harum magni ipsum neque necessitatibus modi pariatur ad.
                            Explicabo eveniet necessitatibus omnis nihil quidem saepe vel sapiente possimus voluptatibus rerum, reprehenderit distinctio exercitationem dignissimos voluptates, laborum corrupti nobis ullam ipsum, officia doloremque? Debitis odio delectus eius nesciunt ratione.
                            Voluptates commodi, in illo tempore ullam sequi sunt, rem labore ad consequuntur a quam nobis qui quaerat laboriosam repellat sit, assumenda quia! Eligendi omnis nemo labore doloribus dignissimos, eos fugit.
                        </p>

                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam nulla doloremque delectus mollitia harum aperiam assumenda magni voluptatibus tempora vel facere error facilis repellendus neque repellat, nemo voluptatum corrupti iusto.
                            Molestias reprehenderit molestiae culpa minus error, quaerat enim sit eveniet fuga quibusdam corrupti quam dolorum iusto modi et magnam perspiciatis quo assumenda, possimus laboriosam. Eaque veritatis ab temporibus repellat aliquid.
                            Commodi architecto recusandae vero beatae tenetur! Voluptates pariatur odio maiores sunt tenetur dolorum iure aliquid, perferendis excepturi, iusto, cupiditate praesentium quo repellendus? Eveniet eos voluptatibus nam eligendi corporis vero nostrum.
                            Eius sunt velit ratione dicta aliquid, inventore enim dignissimos molestiae. Explicabo minus earum odio suscipit veritatis accusantium possimus aut hic, sed debitis modi itaque tempore dignissimos repellendus et molestiae atque.
                            Earum vero ipsum totam aliquam, eius, voluptatibus quae maxime sapiente qui veniam perferendis id aperiam eligendi incidunt, labore quisquam distinctio accusamus nam nostrum iure officiis ea. Ipsum molestiae perferendis impedit?
                        </p>

                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem exercitationem adipisci ullam vel eum non. Dolore nobis, voluptates quae accusantium facere, necessitatibus id ratione officiis, nesciunt obcaecati neque nemo voluptatibus.
                            Facilis animi beatae tenetur debitis possimus veritatis impedit autem magni sunt, blanditiis vel quia nam pariatur iure excepturi ratione aliquid illo doloribus. Earum consequuntur quibusdam molestias iste sequi amet aliquid?
                            Totam sequi temporibus debitis id eius voluptates repellat magnam corporis voluptas, sit exercitationem nesciunt voluptate! Ex eius amet, vitae cupiditate aliquid at porro obcaecati eum laudantium nulla, mollitia sapiente nostrum.
                            Cupiditate aut expedita laboriosam debitis fuga delectus a ab soluta dolores, in quod id similique neque quasi aliquid laudantium ex dignissimos optio corrupti excepturi explicabo. Incidunt cumque aliquid impedit id.
                            Dolorum ab est obcaecati dignissimos commodi, minima molestias ratione voluptatum iusto similique corporis labore dicta? Minus accusamus eveniet ad, atque qui aliquid itaque enim doloribus ex ipsum? Ab, harum omnis?
                        </p>
                    </div>

                    <li class="edition ">
                        <a class="btn btn-primary" role="button" aria-disabled="true" href="{{ path('offre_edit', {'id': offre.id}) }}">Editer l'offre </a>
                    </li>
                </div>
            </article>
        </div>    
            

{% else %}
    <h2>Aucune offre trouvée</h2>
{% endif %}
{% endblock %}

{% block footer %}{{ parent() }}{% endblock %}